In [2]:
import pandas as pd

In [24]:
#CSV
air_data = pd.read_csv('AirQuality_Daily_StudentVersion.csv')
##print(air_data)

In [48]:
##Top 5 mean and median for 2.5 pm
stat_summary = air_data.groupby(['sensor.name']).agg(mean = ('pm2.5_atm', 'mean'),
                                                    median = ('pm2.5_atm', 'median'))
max_mean_top5_pm25 = stat_summary.sort_values(by = 'mean', ascending = False).head(5)
print(max_mean_top5_pm25)

max_median_top5_pm25 = stat_summary.sort_values(by = 'median', ascending = False).head(5)
print(max_median_top5_pm25)

                                                          mean     median
sensor.name
Broken Bow                                          928.710593  36.050240
#16 - Richardson County Courthouse                  700.127342  11.977344
#18 - Southeast District Health Department- Tec...  613.175352  10.322875
NCDHD O'Neill #11                                   164.495078   7.251208
Swnphd-mccook                                       123.011622   4.582281
                                                          mean     median
sensor.name
Broken Bow                                          928.710593  36.050240
#16 - Richardson County Courthouse                  700.127342  11.977344
#18 - Southeast District Health Department- Tec...  613.175352  10.322875
ELVPHD Norfolk HD 4                                  13.369492   9.706229
ELVPHD Wisner HD 5                                   11.154420   8.464583

In [50]:
##Top 5 mean and median for 10 pm
stat_summary = air_data.groupby(['sensor.name']).agg(mean = ('pm10.0_atm', 'mean'),
                                                    median = ('pm10.0_atm', 'median'))
max_mean_top5_pm10 = stat_summary.sort_values(by = 'mean', ascending = False).head(5)
print(max_mean_top5_pm10)

max_median_top5_pm10 = stat_summary.sort_values(by = 'median', ascending = False).head(5)
print(max_median_top5_pm10)

                                                          mean     median
sensor.name
Broken Bow                                          929.678512  43.179094
#16 - Richardson County Courthouse                  701.632446  13.305615
#18 - Southeast District Health Department- Tec...  614.227248  11.433729
NCDHD O'Neill #11                                   166.132578   8.427437
Swnphd-mccook                                       124.227336   5.372073
                                                          mean     median
sensor.name
Broken Bow                                          929.678512  43.179094
#16 - Richardson County Courthouse                  701.632446  13.305615
ELVPHD Norfolk HD 4                                  15.969341  11.474708
#18 - Southeast District Health Department- Tec...  614.227248  11.433729
ELVPHD Wisner HD 5                                   14.462116  10.935958

In [49]:
##Top 5 mean and median for VOC
stat_summary = air_data.groupby(['sensor.name']).agg(mean = ('voc', 'mean'),
                                                    median = ('voc', 'median'))
max_mean_top5_voc = stat_summary.sort_values(by = 'mean', ascending = False).head(5)
print(max_mean_top5_voc)

max_median_top5_voc = stat_summary.sort_values(by = 'median', ascending = False).head(5)
print(max_median_top5_voc)

                                             mean      median
sensor.name
Swnphd-ogallala                        399.434240  423.082292
FCHD-YPS                               372.462720  375.383500
Three Rivers Public Health Department  370.216208  376.810167
ELVPHD Norfolk HD 4                    360.833744  368.580500
Swnphd-mccook                          353.941581  381.468479
                                             mean      median
sensor.name
Swnphd-ogallala                        399.434240  423.082292
Swnphd-mccook                          353.941581  381.468479
Three Rivers Public Health Department  370.216208  376.810167
FCHD-YPS                               372.462720  375.383500
ELVPHD Norfolk HD 4                    360.833744  368.580500

In [57]:
##air data by date and max for pm 2.5
air_data_grouped = air_data.groupby('date')
air_data_pm25 = air_data_grouped.agg(max = ('pm2.5_atm', 'max'))
pm25_top5_max = (air_data_pm25.sort_values(by = 'max', ascending = False))
pm25_top5_max.head(5)

                  max
date
02/18/25  3782.823313
02/19/25  3401.999333
02/20/25  3243.746646
01/21/25  3209.817146
01/20/25  3087.149167

In [58]:
##air data by sensor name and max for pm2.5
air_data_grouped = air_data.groupby('sensor.name')
air_data_pm25 = air_data_grouped.agg(max = ('pm2.5_atm', 'max'))
pm25_top5_max = (air_data_pm25.sort_values(by = 'max', ascending = False))
pm25_top5_max.head(5)

                                                            max
sensor.name
#16 - Richardson County Courthouse                  3782.823313
Broken Bow                                          3205.868854
Swnphd-mccook                                       3053.114292
#18 - Southeast District Health Department- Tec...  2987.467563
TRPHD Dawson Co. Courthouse 25                      2363.017646

In [59]:
##air data by date and max for pm 10
air_data_grouped = air_data.groupby('date')
air_data_pm10 = air_data_grouped.agg(max = ('pm10.0_atm', 'max'))
pm10_top5_max = (air_data_pm10.sort_values(by = 'max', ascending = False))
pm10_top5_max.head(5)

                  max
date
02/18/25  3784.682542
02/19/25  3403.435958
02/20/25  3245.613354
01/21/25  3211.046813
01/20/25  3088.053896

In [60]:
##air data by sensor name and max for pm2.5
air_data_grouped = air_data.groupby('sensor.name')
air_data_pm10 = air_data_grouped.agg(max = ('pm10.0_atm', 'max'))
pm10_top5_max = (air_data_pm10.sort_values(by = 'max', ascending = False))
pm10_top5_max.head(5)

                                                            max
sensor.name
#16 - Richardson County Courthouse                  3784.682542
Broken Bow                                          3206.779708
Swnphd-mccook                                       3054.484250
#18 - Southeast District Health Department- Tec...  2988.441438
TRPHD Dawson Co. Courthouse 25                      2367.085500

In [61]:
##air data by date and max for voc
air_data_grouped = air_data.groupby('date')
air_data_voc = air_data_grouped.agg(max = ('voc', 'max'))
voc_top5_max = (air_data_voc.sort_values(by = 'max', ascending = False))
voc_top5_max.head(5)

                  max
date
06/24/24  1209.931571
10/05/24  1135.473000
11/23/24  1041.722000
10/12/24   884.649000
10/16/24   871.182000

In [62]:
##air data by sensor name and max for pm2.5
air_data_grouped = air_data.groupby('sensor.name')
air_data_voc = air_data_grouped.agg(max = ('voc', 'max'))
voc_top5_max = (air_data_voc.sort_values(by = 'max', ascending = False))
voc_top5_max.head(5)

                             max
sensor.name
Swnphd-ogallala      1209.931571
SWNPHD-Imerial       1135.473000
ELVPHD Norfolk HD 4   884.649000
FCHD-YPS              856.012625
Swnphd-mccook         849.734917

In [66]:
##assigns temperature and groups it with temperature
def assign_temperature(temperature):
    if temperature < 32:
        return 'Below Freezing'
    elif 32 <= temperature <= 50:
        return 'Cool'
    elif 51 <= temperature <= 70:
        return 'Warm'
    else:
        return 'Hot' 

air_data['temperature_level'] = air_data['temperature'].apply(assign_temperature)

temperature_by_sensor = (air_data.groupby(['sensor.name', 'temperature_level']).size())
temperature_by_sensor

sensor.name                         temperature_level
#16 - Richardson County Courthouse  Hot                  300
                                    Warm                  18
#17 - Otoe County                   Below Freezing        27
                                    Cool                  50
                                    Hot                  153
                                                        ...
WCDHD City Building                 Warm                  45
WCDHD Thedford Library 29           Below Freezing        22
                                    Cool                  32
                                    Hot                   58
                                    Warm                  35
Length: 104, dtype: int64

In [65]:
##assign humidity level and groups it with sensor.name
def assign_humidity(humidity):
    if humidity < 50:
        return 'Low'
    elif 51 <= humidity <= 80:
        return 'High'
    elif 80 <= humidity <= 100:
        return 'Very High'
        
air_data['humidity_level'] = air_data['humidity'].apply(assign_humidity)

humidity_by_sensor = (air_data.groupby(['sensor.name', 'humidity_level']).size())
humidity_by_sensor

sensor.name                                                   humidity_level
#16 - Richardson County Courthouse                            High               16
                                                              Low               167
                                                              Very High           8
#17 - Otoe County                                             High               34
                                                              Low               259
#18 - Southeast District Health Department- Tecumseh          High               15
                                                              Low               166
Ainsworth Public School #9                                    High               17
                                                              Low               348
Broken Bow                                                    High               65
                                                              Low               279
                                                              Very High          18
Buffalo County TRPHD #26                                      High               28
                                                              Low               328
ELVPHD Norfolk HD 4                                           High               32
                                                              Low               125
                                                              Very High           3
ELVPHD Tekamah HD 3                                           High               33
                                                              Low               166
ELVPHD Wisner HD 5                                            High               73
                                                              Low                65
                                                              Very High          22
FCHD-YPS                                                      High               67
                                                              Low               283
Laurel High School                                            High               17
                                                              Low               148
Loup Basin Public Health Department                           High               23
                                                              Low               363
Lower Niobrara NRD Butte 10                                   High               22
                                                              Low               345
NCDHD O'Neill #11                                             High               29
                                                              Low               192
PHS Fairbury JCHL 13                                          High               68
                                                              Low               247
                                                              Very High           8
SWNPHD-Imerial                                                High               29
                                                              Low               247
                                                              Very High           4
South Heartland District Health Dept. Hastings office         High               16
                                                              Low               359
South Heartland District Health Dept. Superior City Building  High               15
                                                              Low               266
Swnphd-Benklemen                                              High               31
                                                              Low               351
Swnphd-mccook                                                 High               13
                                                              Low               376
Swnphd-ogallala                                               High               10
                                                              Low               364
TRPHD Dawson Co. Courthouse 25                                High               66
                                                              Low               315
TRPHD Harlan Co. Courthouse 24                                High               31
                                                              Low               331
Three Rivers Public Health Department                         High               29
                                                              Low               343
WCDHD Arthur High School 28                                   High               11
                                                              Low               304
WCDHD City Building                                           High                6
                                                              Low                97
WCDHD Thedford Library 29                                     High               19
                                                              Low               124
dtype: int64

In [79]:
##pm2.5 and AQI's EPA index level warnings
def assign_pm25(pm25):
    if pm25 < 12:
        return 'Good'
    elif 12 <= pm25 <= 35.4:
        return 'Moderate'
    elif 35.5 <= pm25 <= 55.4:
        return 'Unhealthy for Sensitive Groups'
    elif 55.5 <= pm25 <= 150.4:
        return 'Unhealthy'
    elif 150.5 <= pm25 <= 250.4:
        return 'Very Unhealthy'
    else:
        return 'Hazardous'
air_data['pm2.5_aqi'] = air_data['pm2.5_atm'].apply(assign_pm25)
air_data

pm25_sensor = air_data.groupby(['sensor.name', 'pm2.5_aqi']).size()
pm25_sensor

sensor.name                         pm2.5_aqi
#16 - Richardson County Courthouse  Good                              159
                                    Hazardous                         101
                                    Moderate                           52
                                    Unhealthy                           4
                                    Unhealthy for Sensitive Groups      1
                                                                     ...
WCDHD City Building                 Good                              100
                                    Moderate                            3
WCDHD Thedford Library 29           Good                              123
                                    Moderate                           23
                                    Unhealthy for Sensitive Groups      1
Length: 98, dtype: int64

In [83]:
##pm10 and AQI's EPA index level warnings
def assign_pm10(pm10):
    if pm10 < 54:
        return 'Good'
    elif 55 <= pm10 <= 154:
        return 'Moderate'
    elif 155 <= pm10 <= 254:
        return 'Unhealthy for Sensitive Groups'
    elif 255 <= pm10 <= 354:
        return 'Unhealthy'
    elif 355 <= pm10 <= 425:
        return 'Very Unhealthy'
    else:
        return 'Hazardous'
air_data['pm10.0_aqi'] = air_data['pm10.0_atm'].apply(assign_pm10)
air_data
pm25_sensor = air_data.groupby(['sensor.name', 'pm10.0_aqi']).size()
pm25_sensor

sensor.name                            pm10.0_aqi
#16 - Richardson County Courthouse     Good                              212
                                       Hazardous                          99
                                       Moderate                            4
                                       Unhealthy                           1
                                       Unhealthy for Sensitive Groups      1
                                                                        ...
Three Rivers Public Health Department  Moderate                            1
WCDHD Arthur High School 28            Good                              319
                                       Moderate                            1
WCDHD City Building                    Good                              103
WCDHD Thedford Library 29              Good                              147
Length: 63, dtype: int64

In [90]:
cols = ['date', 'sensor.name', 'pm10.0_atm', 'pm10.0_aqi', 'temperature_level', 'humidity_level']
filter = (air_data[air_data['pm10.0_aqi'] == 'Hazardous']
          .loc[:, cols]
          .sort_values(by = 'sensor.name', ascending = False))
filter

,date,sensor.name,pm10.0_atm,pm10.0_aqi,temperature_level,humidity_level
6407,12/24/24,Three Rivers Public Health Department,54.033646,Hazardous,Cool,Low
7609,02/20/25,TRPHD Dawson Co. Courthouse 25,2367.085500,Hazardous,Below Freezing,Low
4285,09/11/24,Swnphd-ogallala,154.910438,Hazardous,Hot,Low
4308,09/12/24,Swnphd-ogallala,1321.167583,Hazardous,Hot,Low
8295,03/24/25,Swnphd-mccook,564.363833,Hazardous,Cool,Low
...,...,...,...,...,...,...
7087,01/27/25,#16 - Richardson County Courthouse,2307.247354,Hazardous,Hot,None
7107,01/28/25,#16 - Richardson County Courthouse,2049.403875,Hazardous,Hot,None
7128,01/29/25,#16 - Richardson County Courthouse,1940.813604,Hazardous,Hot,None
7149,01/30/25,#16 - Richardson County Courthouse,1999.072271,Hazardous,Hot,None
7004,01/23/25,#16 - Richardson County Courthouse,2455.716104,Hazardous,Hot,None

In [89]:
cols = ['date', 'sensor.name', 'pm2.5_atm', 'pm2.5_aqi', 'temperature_level', 'humidity_level']
filter = (air_data[air_data['pm2.5_aqi'] == 'Hazardous']
          .loc[:, cols]
          .sort_values(by = 'sensor.name', ascending = False))
filter

,date,sensor.name,pm2.5_atm,pm2.5_aqi,temperature_level,humidity_level
7631,02/21/25,TRPHD Dawson Co. Courthouse 25,419.846375,Hazardous,Below Freezing,Low
7565,02/18/25,TRPHD Dawson Co. Courthouse 25,419.851604,Hazardous,Below Freezing,Low
7587,02/19/25,TRPHD Dawson Co. Courthouse 25,316.338375,Hazardous,Below Freezing,Low
7609,02/20/25,TRPHD Dawson Co. Courthouse 25,2363.017646,Hazardous,Below Freezing,Low
4308,09/12/24,Swnphd-ogallala,1320.155667,Hazardous,Hot,Low
...,...,...,...,...,...,...
6336,12/21/24,#16 - Richardson County Courthouse,2379.707688,Hazardous,Hot,None
7495,02/15/25,#16 - Richardson County Courthouse,2344.618813,Hazardous,Hot,None
6316,12/20/24,#16 - Richardson County Courthouse,2532.726167,Hazardous,Hot,None
7517,02/16/25,#16 - Richardson County Courthouse,2810.763333,Hazardous,Hot,None
7025,01/24/25,#16 - Richardson County Courthouse,2561.571146,Hazardous,Hot,None